# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#build dir
build/**
.vscode/**

#VIM Swap filed
*.swp
out/*.*
/out/build/x64-Release/cmake_install.cmake
/out/build/x64-Release/CMakeFiles/cmake.check_cache
/out/build/x64-Release/CMakeFiles/3.15.19101501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/out/build/x64-Release/CMakeFiles/3.15.19101501-MSVC_2/CompilerIdC/CMakeCCompilerId.c
/out/build/x64-Release/CMakeFiles/3.15.19101501-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
/out/build/x64-Release/CMakeFiles/3.15.19101501-MSVC_2/CMakeDetermineCompilerABI_C.bin
/out/build/x64-Release/CMakeFiles/3.15.19101501-MSVC_2/CMakeCXXCompiler.cmake
/out/build/x64-Release/CMakeFiles/3.15.19101501-MSVC_2/CMakeCCompiler.cmake
/out/build/x64-Release/CMakeCache.txt
/out/build/x64-Release/cell_extraction.pdb
/out/build/x64-Release/cell_extraction.ilk
/out/build/x64-Release/build.ninja
/out/build/x64-Release/auto_segmenter.pdb
/out/build/x64-Release/auto_segmenter.ilk
/out/build/x64-Release/.ninja_log
/out/build/x64-Release/.ninja_deps
/out/build/x64-Release/.cmake/api/v1/reply/cmakeFiles-v1-cf859a692e35dbf040e0.json
/out/build/x64-Release/.cmake/api/v1/reply/cache-v2-b6869854088dfa016ad4.json
/out/build/x64-Debug/cmake_install.cmake
/out/build/x64-Debug/CMakeFiles/cmake.check_cache
/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CompilerIdC/CMakeCCompilerId.c
/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CMakeDetermineCompilerABI_C.bin
/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CMakeCXXCompiler.cmake
/out/build/x64-Debug/CMakeFiles/3.15.19101501-MSVC_2/CMakeCCompiler.cmake
/out/build/x64-Debug/CMakeCache.txt
/out/build/x64-Debug/build.ninja
/out/build/x64-Debug/.ninja_log
/out/build/x64-Debug/.ninja_deps
/out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-590c091d250c0b804503.json
/out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-7da2a5c8b2c2b1aab4a8.json
/.vs/preprocessing_extraction/v16/Browse.VC.opendb
/.vs/preprocessing_extraction/v16/Browse.VC.db
/.vs/preprocessing_extraction/v16/.suo
/.vs/CMake Overview
/filtrosteste.txt
*.json
*.manifest
*.rc
*.log
*.res
*.txt
*.pdb
*.cmake
*.ilk
*.png
*.pof
*.wkt
*.ninja
*.jpg
*.mp4
*.ipch
*.sqlite
/out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
/out/build/x64-Release/CMakeFiles/ShowIncludes/foo.h
/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
/out/build/x64-Release/CMakeFiles/ShowIncludes/main.c
